@model Capitulo1.Models.Departamento

@{
    Layout = "_LayoutIES";
}

@section styles{
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.0.12/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome.min.css" />
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo um departamento existente</div>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="DepartamentoId" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input asp-for="DepartamentoId" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-usser-cicle-o" aria-hidden="true"></i>
                </span>
                <input asp-for="Instituicao.Nome" class="form-control" disable="disable" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-infa text-center text-white">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.DepartamentoId">Alterar</a>
        <a asp-action="Index" class="btn btn-warning">Retornar à listagem de departamentos</a>
    </div>
</div>